<div class="container">
	<form ng-submit="login(username,password)">
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-group" ng-model="username">
		</div>
		<div class="form-group">
			<label>Lock Password</label>
			<input type="text" class="form-group" ng-model="password">
		</div>
	</form>
</div>