<div class="container">
		<h1>Recent Post</h1>
		<input ng-model="postName" placeholder="name" name="name" class="form-control">
		<input ng-model="postBody" placeholder="message" name="body" class="form-control">
		<button ng-click='addPost()' class='btn btn-default'>Add Post</button>
		<ul class="list-group">
			<li ng-repeat="post in posts">
				<strong>@{{ post.username }}</strong>
				<span>{{ post.body }}</span>
			</li>
		</ul>
	</div>